.columns > div {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #212121;
  padding: 48px 0;
}
.columns > div:last-child {
  border-bottom: 1px solid #212121;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
