.columns > div {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #212121;
  padding: 48px 0;
}
.columns > div:last-child {
  border-bottom: 1px solid #212121;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.section.columns-container .list div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.columns-container .list div p {
  margin: 0;
}

div.section.rightcolumn.columns-container > div.columns-wrapper > div > div > div > p {
  margin-top: 15px;
  font-size: 16px;
}

@media (width > 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.large > div > div:first-child {
    flex: 1 0 55%;
    order: unset;
  }

  .columns.large > div:last-child {
    border-bottom: 0;
  }
}
