main .section > div.alert-wrapper {
  max-width: unset;
  padding: 0;
  margin: auto;
}

.alert.block {
  background-color: #e6f1f5;
  border-color: #00749e;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  font-weight: 400;
  margin-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.alert.block.red {
  background-color: #f8d7da;
  border-color: #721c24;
}

.alert.block p span.icon {
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.alert.block p .icon img {
  filter: invert(42%) sepia(86%) saturate(3188%) hue-rotate(164deg) brightness(96%) contrast(95%);
  vertical-align: middle;
}