.section .video-wrapper {
  margin: 0;
  padding: 0;
  height: 70%;
}

.video.block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.video.block .video-player {
  width: 95%;
}

.video.block .overlay {
  position: absolute;
  z-index: 10;
  width: 90%;
  height: 90%;
}

@media (min-width: 600px) {
  .video.block .video-player {
    width: 90%;
    height: 270px;
  }
}

@media (min-width: 900px) {
  .video.block {
    max-width: var(--section-max-width);
  }

  .video.block .video-player {
    width: 90%;
    height: 370px;
  }
}